* {
    margin: 0;
    padding: 0;
}

#main {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5vw;
    background-image: url('bg.jpg');
    background-size: cover;
    background-position: center;
}

#txt{
    background-color: #ffffff80;
    padding: 10vh;
    border-radius: 5vh;
    filter: blur(0);
}

h1 {
    font-size: 6vh;
}

h2 {
    font-size: 3vh;
}