@theme {
  --color-ks-primary: #606c38;
  --color-ks-secondary-dark: #283618;
  --color-ks-secondary-paper: #fefae0;
  --color-ks-secondary-sand: #dda15e;
  --color-ks-secondary-soil: #bc6c25;
  --color-ks-error: #f69292;
}
