:root {
  --background-color: #1A1414;
  --first-layer-color: #252020;
  --second-layer-color: #343030;
  --third-layer-color: #3A3636;
  --primary-color: #F13F47;
  --secondary-color: #FEBC4A;
  --error-color: #F69292;
  --text-color: #fffffff3;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: var(--background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

/*
Scroll bar css
TODO: Not working on Mozilla Firefox browser
*/
::-webkit-scrollbar {
  background: var(--background-color);
  width: 14px;
}

::-webkit-scrollbar-track {
  background: var(--first-layer-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--second-layer-color);
  border: 3px solid transparent;
  border-radius: 20px;
  background-clip: content-box;
}
